/* label color */
   .input-field label {
     color: #9e9e9e;
   }
   /* label focus color */
   .input-field input[type]:focus + label {
     color: #448aff;
   }
   /* label underline focus color */
   .input-field input[type]:focus {
     border-bottom: 1px solid #448aff;
     box-shadow: 0 1px 0 0 #448aff;
   }
   /* valid color */
   .input-field input[type].valid {
     border-bottom: 1px solid #8bc34a;
     box-shadow: 0 1px 0 0 #8bc34a;
   }
   /* invalid color */
   .input-field input[type].invalid {
     border-bottom: 1px solid #f44336 ;
     box-shadow: 0 1px 0 0 #f44336 ;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #000;
   }

 body {
 	background-color: #eeeeee;
 }

.no-margin-bot{
	margin-bottom: 0px !important;
}

.cropit-preview {
  /* You can specify preview size in CSS */
  width: 960px;
  height: 540px;
}

.no-pading-bot{
	padding-bottom: 0px !important;
}

.no-pading-left{
	padding-left: 0px !important;
}

.no-pading-right{
	padding-right: 0px !important;
}

.semi-trasparent{
	background-color: rgba(255, 255, 255, 0.5);
}

span.avatar-nav{
	margin-top: 10px;
	margin-left: 100px;
	background-size: 32px 32px;
	display: block;
	position: relative;
    height: 40px;
    width: 40px;
}

main.contenido{
	position: relative;
}

div.banner{
	background: #8bc34a url(../img/admin-wall.png);
	background-attachment: local;
	background-position: center -150px;
	background-size: cover;
	height: 250px;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

div.info-user{
	position: relative;
	width: 70%;
	margin: 0 auto;
}

div.avatar-profile{
	width: 100%;
	margin: 0 auto;
	padding-top: 3rem;

}
