/*Agregando montserrat*/
@import 'https://fonts.googleapis.com/css?family=Montserrat';

/*Signika*/
@import 'https://fonts.googleapis.com/css?family=Signika';

html, body{
  margin: 0px;
  background-color: #fafafa;
  height: 100%;
}

/*modificar card large*/

.card.large {
    height: 400px;
}

.card.large2 {
    height: 200px;
}



/*titulo personalizado de las */
a.card-title.mini-header{
  font-size: 20px !important;
  line-height: 2px !important;
}
a.card-title.mini-header:hover{
  color: #039be5;
}

/*crea una barra separadora invisible*/
.spacer {
    height: 2rem;
    width: 100%;
}

/*seccion*/
.section{
  padding-top: 1rem;
padding-bottom: 1rem;
}

/*usar syknica para titulos*/
.title-style{
  font-family: 'Signika', sans-serif !important
}

/*para los texto llamativos del index*/
p.index-text{
  font-family: 'Montserrat', sans-serif !important;
  font-size: 1.8rem;
  stroke: 300;
}

/*ajuste de la imagen logo*/
.glogo{
  height: 65px;
  width: 100%;
}

/*div de bienvenida*/
.welcome{
  background: #757575 ;
  background-image: url('/Img/cubes.png');
  background-size: 1536px 1536px;
  height: 100%;
  width: 100%;
  min-height: 500px;
  position: relative;
  text-shadow: 1px 1px 1px #00bcd4 ;
}
/*div de presentacion de escuelas de formacimacio*/
.div-escuelas{
  background: #757575 ;
  background-image: url('/Img/escuelas-prllx.jpg');
  background-size: 1536px 1536px;
  background-position: 50% 15%;
  height: 10%;
  width: 100%;
  min-height: 350px;
  position: relative;
  text-shadow: 1px 1px 1px #00bcd4;
  position: relative;
  overflow: hidden;
}

/*el mensaje en medio de welcome en el home*/
.message{
  color: #FFF;
  font-size: 1.5em;
  text-align: center;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

/*style de la flecha en el home*/
.message-arrow{
  height: 27px;
  width:  51px;
  text-align: center;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 1050%);
}

/*ajustar h5*/
h5{
  font-size: 1.4rem;
}

/*Ajustar el footer*/
.fixfoo{
  margin-top: 0px !important ;
padding-left: 0px !important;

}

/*agregar una pequeña margen*/
.gbrd{
  border-top-width: 0.7rem;
  border-top-style: solid;
  border-color: transparent;
}

/*sombrita para texto*/
.stroke {
text-shadow: -2px 2px 1px #212121;
}

/*estilo para parrafos*/
p.descripcion{
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
	text-align: justify;
}

/*color gris para los iconos*/
.grey-icons{
  color: #757575 !important;
}

/*cambiar el color del active*/
.side-nav li.active {
    background-color: rgba(139, 195, 74, 0.05);
}

/*agrega un poquito de separacion a los botonos */
.sbt{
	margin: 0.4rem;
}

/*quitar margenes*/
.km{
	margin: 0rem !important;
}


/*green line header*/
.green-line-header{
	width: 100%;
	height: 1.5rem;
	background-color: #689f38;
}

/*yellow line header*/
.yellow-line-header{
  width: 100%;
  height: 1.5rem;
  background-color: #689f38;
}

.key{
  color: #212121 !important;
}


/*contiene y muestra mas inforacion y acciones de elemento de una lista*/
.mas-info{
  display: none;
}

/*codigo copia de la pagina de materialize*/

/*estilo mensaje error para los input*/
.input-field div.error {
  position: relative;
  top: -1rem;
  left: 0rem;
  font-size: 0.8rem;
  color: #f44336;
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
  transform: translateY(0%);
}

header, main, footer {padding-left: 300px;}

@media only screen and (max-width : 992px) {
  header, main, footer {padding-left: 0;}
}

nav.top-nav {
    height: 122px;
    box-shadow: none;
}

nav.top-nav a.page-title {
    line-height: 122px;
    font-size: 48px;
}

div.divider-line{
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #CBCBCB;
}

