/*Agregando montserrat*/
@import 'https://fonts.googleapis.com/css?family=Montserrat';

body{
  background-color: #fafafa;
}

/*sombrita para texto*/
.stroke {
text-shadow: -2px 2px 1px #212121;
}

p.descripcion{
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
	text-align: justify;
}

/*color gris para los iconos*/
.grey-icons{
  color: #757575 !important;
}

/*cambiar el color del active*/
.side-nav li.active {
    background-color: rgba(139, 195, 74, 0.05);
}

/*agrega un poquito de separacion a los botonos */
.sbt{
	margin: 0.4rem;
}

/*quitar margenes*/
.km{
	margin: 0rem !important;
}

main{
	background: 
}

/*green line header*/
.green-line-header{
	width: 100%;
	height: 1.5rem;
	background-color: #689f38;
}

.key{
  color: #212121 !important;
}


/*contiene y muestra mas inforacion y acciones de elemento de una lista*/
.mas-info{
  display: none;
}

/*codigo copia de la pagina de materialize*/

/*estilo mensaje error para los input*/
.input-field div.error {
  position: relative;
  top: -1rem;
  left: 0rem;
  font-size: 0.8rem;
  color: #f44336;
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
  transform: translateY(0%);
}

header, main, footer {padding-left: 300px;}

@media only screen and (max-width : 992px) {
  header, main, footer {padding-left: 0;}
}

nav.top-nav {
    height: 122px;
    box-shadow: none;
}

nav.top-nav a.page-title {
    line-height: 122px;
    font-size: 48px;
}

