.container
	.row.km
		.col.s6
			p.descripcion(style="font-size:0.7rem") El contenido esta a pruba, ningun dato quedara almancenado
		.col.s6
			p.descripcion.right(style="font-size:0.7rem") Version 0.2.4