.container
	.row
		.col.s6
			a(href="http://goo.gl/dqVQK")
				img.resposive-img.sbt(src="/img/MINTIC.png")
		.col.s6
			.right-align
				a(href="http://goo.gl/38np2G")
					img.resposive-img.sbt(src="/img/Escudo_de_Puerto_Salgar.png")
footer.page-footer.light-green.fixfoo
	.footer-copyright
		.container 
			| © 2016 - Copyright Alcaldia municipal de Puerto Salgar
			a.grey-text.text-lighten-4.right Oficina de cultura y turismo