extends ../layout
block contenido
	header
		include ./Ext/menu-lateral-admin.jade
	main
		include ./Ext/page-title.jade
		.container
			p.descripcion
				| Opten desde esta interfaz información rápida y acceso a la gestión de la información y creación de usuarios y contenido.
			ul.collapsible(
			data-collapsible="accordion")
				li
					.collapsible-header.active Usuarios
					.collapsible-body
						.row
							.col.s6
								.card-panel.blue.darken-4
									.row.center-align
										.col.s9
											h5.white-text Administradores
										.col.s3
											a.dropdown-button.btn-large.transparent(
											href='#' 
											data-activates='accion-list')
												i.large.material-icons menu
											ul#accion-list.dropdown-content
												li
													a(href="#") accion
												li
													a(href="#") accion
												li
													a(href="#") accions
									.row.center-align
										h2.white-text 10
						p 
							|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							|tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							|quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							|consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							|cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							|proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				li
					.collapsible-header
					.collapsible-body
						.row
