extends ../layout.jade 
block contenido
	.row
		//.col.s4
		.container.center-block
			h3 Inicio de sesion para administradores
			.col.s12.no-padding
				form(id="formLogin", method="POST", action="/administrador/login")
					.row
						.input-field.col.s12
							input#cc.validate(type="text" name="cc")
							label(for="cedula") Cedula
					.row
						.input-field.col.s12
							input#ps.validate(type="password" name="ps")
							label(for="password") Contraseña
					.row
						button.btn.waves-effect.waves-light(type="submit") Iniciar sesion
							i.material-icons.right send

				span
					p #{massage}

		//.col.s4
