extends ../../layout
block contenido
	header
		include ../Ext/menu-lateral-admin.jade
	main
		include ../Ext/page-title.jade
		.container
			a.waves-effet.waves-light.btn.cyan.sbt(
				href="/admin/administradores/nuevo") Nuevo 

block footer