extends ../layout
block contenido
	h2 pagina principal

	a.waves-effect.waves-light.btn.sbt(
	href="/admin") administración

	a.waves-effect.waves-light.btn.sbt(
		href="/registro") registrarse

	