extend ../layout.jade
block contenido
	include ./Ext/welcome-div.jade
	.spacer
	.divider
	.spacer
	.spacer
	//block login y registro
	.container
		.row.section
			.col.s6
				div.divider-line
					h3.title-style Soy usuario frecuente
					p.index-text Iniciar sesion
					include ./Ext/form-login
			.col.s6
				h3.title-style Quiero registrarme
				p.index-text ¿Que estas esperando?
				.spacer
				.spacer
				.spacer
				.row
						.col.s12.center-align
							a(href="/registro").waves-effet-waves-light.btn-large.cyan.sbt Registrarse
				.spacer
				.spacer
				.spacer
	.spacer
	.divider
	.spacer
	//block ver ecuelas de formacion
	.parallax-container#arrowPoint
		.parallax
			img(src="https://goo.gl/NsjNMI")
		.container
			.row.section
				h3.title-style.white-text.stroke Aprobecha tu tiempo libre y aprende cosas nuevas
				p.index-text.white-text.stroke Unete al grupo que mas te guste
				.spacer
				.spacer
				.spacer
				.row.km
					.col.s12.center-align
						a(href="/escuelas").waves-effet-waves-light.btn-large.cyan.sbt Ver Escuelas de formacion
				.spacer
				.spacer
				.spacer
	//bloc contacto
	.spacer
	.divider
	include ./Ext/contacto.jade
	.spacer
	.divider
	.spacer



block epecialjs
	include ../Ext/front-scripts.jade
