doctype html
html(lang="es")
	head
		title #{title}
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		include ./ext/links.jade

	body
		//include ./ext/mensaje-alerta.jade
		
		block contenido

		block footer
			.divider
			include ./ext/pre-footer.jade

		block epecialjs
			include ./ext/back-scripts.jade
