//div.yellow-line-header
nav.light-green
	.nav-wrapper
		a.brand-logo(href="!#") Cultura y Turismo
		ul#nav-home.right.hide-on-med-and-down
			li
				a(href="/cursos") Cursos
			li
				a.waves-effect.waves-light.btn.cyan Iniciar Sesión
			li
				a(href="/registro").waves-effect.waves-light.btn.cyan  Registrarse