//div.yellow-line-header
nav.light-green.black-text.animated.slideInDown
	.nav-wrapper
		a.brand-logo(href="!#") 
			img.glogo(src="/Img/glogo.png")
		ul#nav-home.right.hide-on-med-and-down
			li
				a(href="/cursos") Cursos
			li
				a(href="/login") Iniciar Sesión
			li
				a(href="/registro") Registrarse