.welcome
	include ./nav-bar-home.jade
	.message
		h1.title-style Bienvenido
		p.index-text Descubre las escuelas de formación de la oficina de cultura y turismo de Puerto Salgar.
	a#irArrowPint
		.message-arrow
			img.arrow(src="/Img/g3.png")