.welcome
	include ./nav-bar-home.jade
	.message
		h1.title-style Bienvenido
		p.index-text Descubre de las escuelas de formación de la oficina de cultura y turismo de Puerto Salgar.
	.message-arrow
		img.arrow(src="/Img/g3.png" )













//.slider
	ul.slides
		li
			img(src="http://gallery.photo.net/photo/16590592-lg.jpg")
			.caption.center-align
				h3 Slide 1
				h5.light.grey-text.text-lighten-3 Pequeño Eslogan
