ul#menu_admins.dropdown-content
	li
		a(href="/admin/administradores") Ver
	li
		a(href="/admin/administradores/nuevo") Crear

ul#menu_profes.dropdown-content
	li
		a(href="/admin/profesores") Ver
	li
		a(href="/admin/profesores/nuevo") Crear

ul#menu_estus.dropdown-content
	li
		a(href="/admin/estudiantes") Ver
	li
		a(href="/registro") Crear

ul#menu_escuelas.dropdown-content
	li
		a(href="/admin/escuelas") Ver
	li
		a(href="/admin/escuelas/nuevo") Crear

ul#menu_areas.dropdown-content
	li
		a(href="/admin/areas") Ver
	li
		a(href="/admin/areas/nuevo") Crear

ul#menu_grupos.dropdown-content
	li
		a(href="/admin/grupos") Ver
	li
		a(href="/admin/grupos/nuevo") Crear
		