ul#slide-out.side-nav.fixed
			//vista para el perfil
			li
				.userView
					img.background(
					src="http://goo.gl/mnPn0S")
					a(href="#!user")
						img.circle(
						src="https://goo.gl/QYrHyx")
					a(href="#!name")
						span.white-text.name Oscar Guzman
					a(href="#!email")
						span.white-text.email abc@123.com
			//lista de enlaces
			li
				a(href="/Admin") Panel
					i.material-icons.left dashboard
			//usuarios
			li.no-padding
				ul.collapsible.collapsible-accordion
					li
						a.collapsible-header Usuarios
							i.material-icons.left account_circle         
						.collapsible-body
							ul
								li
									a.waves-effect(href='/admin/administradores') Administradores                 
								li
									a.waves-effect(href='/admin/profesores') Profesores
								li
									a.waves-effect(href='/admin/estudiantes') Estudiantes 
			//Escuelas
			li.no-padding
				ul.collapsible.collapsible-accordion
					li
						a.collapsible-header Escuelas de formación
							i.material-icons.left assignment
						.collapsible-body
							ul
								li
									a.waves-effect(href='/admin/escuelas') Escuelas
								li
									a.waves-effect(href='/admin/areas') Areas
			// grupos
			li.no-padding
				a.waves-effect(href="/admin/grupos") Grupos
					i.material-icons.left group
			//home
			li.no-padding
				a.waves-effect(href="/") Pagina Pricipal
					i.material-icons.left home

