//if success || messages.success
span#card-alert
	.card.green
		.card-content.white-text
			p texto #{success} #{messages.success}
				i.material-icons.left error_outline
			a.red.right.btn-floating.closeCardAlert.white-text
				i.material-icons close