doctype html
html(lang="es")
	head
		title #{title}
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		include ./Ext/links.jade

	body
		block contenido

		block footer
			footer.page-footer.light-green
				.container
					h5.center-align.white-text texto del footer en desarrollo
				.footer-copyright
					.container
						| © 2016 Copyright Text

		block epecialjs
			include ./Ext/back-scripts.jade
